<app-header></app-header>
<div class="container">
  <h3>{{tipoAcao}} Enquete</h3>
  <form [formGroup]="formCadastro" class="row" (submit)="salvar($event)">
    <div class="col-md-6">

      <div class="form-group">
        <label>Título Enquete</label>
        <input formControlName="nome" name="nome" ngModel minlength="3" ngModel maxlength="40" [(ngModel)]="enquete.nome" class="form-control"
          autocomplete="off">
        <div *ngIf="formCadastro.controls.nome.invalid">
          <span *ngIf="formCadastro.controls.nome.errors.minlength" class="form-control alert-danger">
             Título Enquete deve ter no mínimo 3 caracteres
          </span>
          <span *ngIf="formCadastro.controls.nome.errors.maxlength" class="form-control alert-danger">
            Título Enquete deve ter no máximo 40 caracteres
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Pergunta</label>
        <input formControlName="pergunta" name="pergunta" ngModel minlength="3" ngModel maxlength="60" [(ngModel)]="enquete.pergunta"
          class="form-control" autocomplete="off">
        <div *ngIf="formCadastro.controls.pergunta.invalid">
          <span *ngIf="formCadastro.controls.pergunta.errors.minlength" class="form-control alert-danger">
             Pergunta da enquete deve ter no mínimo 3 caracteres
          </span>
          <span *ngIf="formCadastro.controls.pergunta.errors.maxlength" class="form-control alert-danger">
            Pergunta da enquete deve ter no máximo 60 caracteres
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Alternativa 1</label>
        <input formControlName="alternativa1" name="alternativa1" ngModel minlength="3" ngModel maxlength="60" [(ngModel)]="alternativa1.titulo"
          class="form-control" autocomplete="off">
        <div *ngIf="formCadastro.controls.alternativa1.invalid">
          <span *ngIf="formCadastro.controls.alternativa1.errors.minlength" class="form-control alert-danger">
             Alternativa 1 da enquete deve ter no mínimo 3 caracteres
          </span>
          <span *ngIf="formCadastro.controls.alternativa1.errors.maxlength" class="form-control alert-danger">
            Alternativa 1 da enquete deve ter no máximo 60 caracteres
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Alternativa 2</label>
        <input formControlName="alternativa2" name="alternativa2" ngModel minlength="3" ngModel maxlength="60" [(ngModel)]="alternativa2.titulo"
          class="form-control" autocomplete="off">
        <div *ngIf="formCadastro.controls.alternativa2.invalid">
          <span *ngIf="formCadastro.controls.alternativa2.errors.minlength" class="form-control alert-danger">
             Alternativa 2 da enquete deve ter no mínimo 3 caracteres
          </span>
          <span *ngIf="formCadastro.controls.alternativa2.errors.maxlength" class="form-control alert-danger">
            Alternativa 2 da enquete deve ter no máximo 60 caracteres
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Alternativa 3</label>
        <input formControlName="alternativa3" name="alternativa3" ngModel minlength="3" ngModel maxlength="60" [(ngModel)]="alternativa3.titulo"
          class="form-control" autocomplete="off">
        <div *ngIf="formCadastro.controls.alternativa3.invalid">
          <span *ngIf="formCadastro.controls.alternativa3.errors.minlength" class="form-control alert-danger">
             Alternativa 3 da enquete deve ter no mínimo 3 caracteres
          </span>
          <span *ngIf="formCadastro.controls.alternativa3.errors.maxlength" class="form-control alert-danger">
            Alternativa 3 da enquete deve ter no máximo 60 caracteres
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Alternativa 4</label>
        <input formControlName="alternativa4" name="alternativa4" ngModel minlength="3" ngModel maxlength="60" [(ngModel)]="alternativa4.titulo"
          class="form-control" autocomplete="off">
        <div *ngIf="formCadastro.controls.alternativa4.invalid">
          <span *ngIf="formCadastro.controls.alternativa4.errors.minlength" class="form-control alert-danger">
             Alternativa 4 da enquete deve ter no mínimo 3 caracteres
          </span>
          <span *ngIf="formCadastro.controls.alternativa4.errors.maxlength" class="form-control alert-danger">
            Alternativa 4 da enquete deve ter no máximo 60 caracteres
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Alternativa 5</label>
        <input formControlName="alternativa5" name="alternativa5" ngModel minlength="3" ngModel maxlength="60" [(ngModel)]="alternativa5.titulo"
          class="form-control" autocomplete="off">
        <div *ngIf="formCadastro.controls.alternativa5.invalid">
          <span *ngIf="formCadastro.controls.alternativa5.errors.minlength" class="form-control alert-danger">
             Alternativa 5 da enquete deve ter no mínimo 3 caracteres
          </span>
          <span *ngIf="formCadastro.controls.alternativa5.errors.maxlength" class="form-control alert-danger">
            Alternativa 5 da enquete deve ter no máximo 60 caracteres
          </span>
        </div>
      </div>

      <div class="form-group" formGroupName="respondem">
        <label>Destina-se há:</label>
        <div class="checkbox">
          <label><input formControlName="aluno" type="checkbox" value="alunos" [(ngModel)]="respondem.aluno">Alunos</label>
        </div>
        <div class="checkbox">
          <label><input formControlName="professor" type="checkbox" value="professores" [(ngModel)]="respondem.professor">Professores</label>
        </div>
        <div class="checkbox">
          <label><input formControlName="responsavel" type="checkbox" value="responsaveis" [(ngModel)]="respondem.responsavel">Responsáveis</label>
        </div>
        <div class="checkbox">
          <label><input formControlName="diretor_escola" type="checkbox" value="diretor_escola" [(ngModel)]="respondem.diretor_escola">Diretor(a) Escolar</label>
        </div>
      </div>

      <div class=" botoes row">
        <div class="col-md-12">
          <input type="submit" class="btn btnNovo pull-right" value="Enviar" />
          <div class="btn btnNovo pull-left" routerLink="/enquete">Voltar</div>
        </div>
      </div>
    </div>
  </form>
</div>