<app-header></app-header>
<div class="container">
  <h3>{{tipoAcao}} Enquete</h3>
  <form [formGroup]="formCadastro" class="row" (submit)="salvar($event)">
    <div class="col-md-6">

      <div class="form-group">
        <label>Título Enquete</label>
        <input formControlName="nome" name="nome" ngModel minlength="3" ngModel maxlength="40" [(ngModel)]="enquete.nome" class="form-control"
          autocomplete="off">
        <div *ngIf="formCadastro.controls.nome.invalid">
          <span *ngIf="formCadastro.controls.nome.errors.minlength" class="form-control alert-danger">
             Título Enquete deve ter no mínimo 3 caracteres
          </span>
          <span *ngIf="formCadastro.controls.nome.errors.maxlength" class="form-control alert-danger">
            Título Enquete deve ter no máximo 40 caracteres
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Pergunta</label>
        <input formControlName="pergunta" name="pergunta" ngModel minlength="3" ngModel maxlength="60" [(ngModel)]="enquete.pergunta"
          class="form-control" autocomplete="off">
        <div *ngIf="formCadastro.controls.pergunta.invalid">
          <span *ngIf="formCadastro.controls.pergunta.errors.minlength" class="form-control alert-danger">
             Pergunta da enquete deve ter no mínimo 3 caracteres
          </span>
          <span *ngIf="formCadastro.controls.pergunta.errors.maxlength" class="form-control alert-danger">
            Pergunta da enquete deve ter no máximo 60 caracteres
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Alternativa 1</label>
        <input formControlName="alternativa" name="alternativa" ngModel minlength="3" ngModel maxlength="60" [(ngModel)]="alternativa.titulo"
          class="form-control" autocomplete="off">
        <div *ngIf="formCadastro.controls.alternativa.invalid">
          <span *ngIf="formCadastro.controls.alternativa.errors.minlength" class="form-control alert-danger">
             Alternativa 1 da enquete deve ter no mínimo 3 caracteres
          </span>
          <span *ngIf="formCadastro.controls.alternativa.errors.maxlength" class="form-control alert-danger">
            Alternativa 1 da enquete deve ter no máximo 60 caracteres
          </span>
        </div>
      </div>

      <div *ngFor= "let alternativa of alternativas" class="form-group">
        <label>Alternativa</label>
        <input formControlName="alternativa" name="alternativa" ngModel minlength="3" ngModel maxlength="60" [(ngModel)]="alternativa.titulo"
          class="form-control" autocomplete="off">
        <div *ngIf="formCadastro.controls.alternativa.invalid">
          <span *ngIf="formCadastro.controls.alternativa.errors.minlength" class="form-control alert-danger">
             Alternativa 2 da enquete deve ter no mínimo 3 caracteres
          </span>
          <span *ngIf="formCadastro.controls.alternativa.errors.maxlength" class="form-control alert-danger">
            Alternativa 2 da enquete deve ter no máximo 60 caracteres
          </span>
        </div>
      </div>
     
      <div class=" botoes row">
        <div class="col-md-12">
          <input type="submit" class="btn btnNovo pull-right" value="Salvar" />
          <div class="btn btnNovo pull-left" routerLink="/enquete">Voltar</div>
        </div>
      </div>
    </div>
  </form>
</div>