<app-header></app-header>
<div class="container">
  <div class='titulo-pagina'>Escolas Cadastradas</div>
  <a routerLink="/cadastroescola" class="btn btn-primary pull-right btnNovo">Nova Escola</a>
  <div class="row barra">
    <input #textoProcurado (keyup)="0" class="form-control" placeholder="Buscar por escola">
  </div>
</div>
<div class="container tabela">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Escola</th>
          <th>Estado</th>
          <th>Cidade</th>
          <th>Bairro</th>
          <th>Rua</th>
          <th>Numero</th>
          <th>Telefone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of escolas | escolaPipe: textoProcurado.value">
          <td>{{c.nome}}</td>
          <td>{{c.estado}}</td>
          <td>{{c.cidade}}</td>
          <td>{{c.bairro}}</td>
          <td>{{c.rua}}</td>
          <td>{{c.numero}}</td>
          <td>{{c.telefone}}</td>
          <td>
            <div class="btn btnEditar btn-primary btn-xs" [routerLink]="['/cadastroescola/', c._id]">
              <span class="glyphicon glyphicon-pencil"></span>
            </div>
          </td>
          <td>
            <div class="btn btnExcluir btn-danger btn-xs" (click)="remove(c)">
              <span class="glyphicon glyphicon-trash"></span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>