<app-header> </app-header>
<div class="container">
    <div class='titulo-pagina'>Enquetes Cadastradas</div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a routerLink="/cadastroenquete" class="btn btn-primary pull-right btnNovo">Nova Enquete</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row barra">
        <input #textoProcurado (keyup)="0" class="form-control" placeholder="Buscar por enquete">
    </div>
</div>
<div class="container tabela">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Enquete</th>
                    <th>Pergunta</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of enquetes | enquetePipe: textoProcurado.value">
                    <td>{{c.nome}}</td>
                    <td>{{c.pergunta}}</td>
                    <td>
                        <div class="btn btnEditar btn-primary btn-xs" [routerLink]="['/cadastroenquete/', c._id]">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </div>
                    </td>
                    <td>
                        <div class="btn btnExcluir btn-danger btn-xs" (click)="remove(c)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>