<app-header> </app-header>
<div class="container">
    <div class="row">
        <div class="enquete">
            <label>How confident are you in your ability to make choices about your child's schooling?</label>
        </div>
            <div class="alternativas">
                <input type="radio">
                <span>Extremely confident</span>
            </div>
            <div class="alternativas">
                <input type="radio">
                <span>Quite confident</span>
            </div>
            <div class="alternativas">
                <input type="radio">
                <span>Somewhat confident</span>
            </div>
        <div class=" botoes row">
            <div class="col-md-12">
                <input type="submit" class="btn btnNovo btnEnquete" value="Enviar" />
            </div>
        </div>
    </div>
</div>