.btnEnquete{
    min-width: 100px;
    width: 200px;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.titulo{
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

.pergunta{
    margin: 10px;
    font-size: 17px;
    text-align: justify;
}

.opc{
    font-size: 15px;
    text-align: justify;
    margin: 10px;
}
.titulo-grafico{
    text-align: center;
    left: 0;        
    right: 0;
    margin: 0 auto;
    font-size: 25px;
    position: relative;
    top:20px;
    margin-bottom:48px;
}
.respondeu{
    text-align: center;
    left: 0;        
    right: 0;
    margin: 0 auto;
    font-size: 25px;
    position: relative;
    top:20px;
    margin-bottom:40px;
}
.respondeu p{
    font-size: 15px;
}
.botoesCenter{
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.botoesCenter .btn{
    width: 150px;   
}

