.btnEnquete{
    min-width: 100px;
    width: 200px;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.titulo{
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

.pergunta{
    margin: 10px;
    font-size: 17px; 
}

.opc{
    font-size: 15px;
    text-align: justify;
    margin: 10px;
}
.titulo-grafico{
    text-align: center;
    margin: 20px;
    font-size: 25px;
}
