.btnEnquete{
    min-width: 100px;
    width: 200px;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.enquete{
    width: 100%;
    text-align: center;
    font-size:25px;
    margin:10px;
}

.alternativas{
    font-size:20px;
    margin:10px 0 10px 0;
}