<div class="container">
  <h1>{{tipoAcao}} Aluno</h1>
  <form [formGroup]="formCadastro" class="row" (submit)="salvar($event)">
    <div class="col-md-6">

      <div class="form-group">
        <label>Nome</label>
        <input formControlName="nome" name="nome" [(ngModel)]="aluno.nome" class="form-control" autocomplete="off">
        <div *ngIf="formCadastro.controls.nome.invalid">
          <span *ngIf="formCadastro.controls.nome.errors.minlength" class="form-control alert-danger">
            Nome deve ter no mínimo 3 caracteres
          </span>
          <span *ngIf="formCadastro.controls.nome.errors.maxlength" class="form-control alert-danger">
            Nome deve ter no máximo 20 caracteres
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>E-mail</label>
        <input formControlName="email" name="email" [(ngModel)]="aluno.email" class="form-control" autocomplete="off">
        <div *ngIf="formCadastro.controls.email.invalid">
          <span *ngIf="formCadastro.controls.email.errors.minlength" class="form-control alert-danger">
            E-mail deve ter no mínimo 3 caracteres
          </span>
          <span *ngIf="formCadastro.controls.email.errors.maxlength" class="form-control alert-danger">
            E-mail deve ter no máximo 20 caracteres
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Senha</label>
        <input formControlName="senha" name="senha" [(ngModel)]="aluno.senha" class="form-control" autocomplete="off">
        <div *ngIf="formCadastro.controls.senha.invalid">
          <span *ngIf="formCadastro.controls.senha.errors.minlength" class="form-control alert-danger">
            Senha deve ter no mínimo 3 caracteres
          </span>
          <span *ngIf="formCadastro.controls.senha.errors.maxlength" class="form-control alert-danger">
            Senha deve ter no máximo 20 caracteres
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Idade</label>
        <input formControlName="idade" name="idade" [(ngModel)]="aluno.idade" class="form-control" autocomplete="off">
        <div *ngIf="formCadastro.controls.idade.invalid">
          <span *ngIf="formCadastro.controls.idade.errors.minlength" class="form-control alert-danger">
            Idade deve ter no mínimo 1 caracter
          </span>
          <span *ngIf="formCadastro.controls.idade.errors.maxlength" class="form-control alert-danger">
            Idade deve ter no máximo 3 caracteres
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Telefone</label>
        <input formControlName="telefone" name="telefone" [(ngModel)]="aluno.telefone" class="form-control" autocomplete="off">
        <div *ngIf="formCadastro.controls.telefone.invalid">
          <span *ngIf="formCadastro.controls.telefone.errors.minlength" class="form-control alert-danger">
            Telefone deve ter no mínimo 1 caracteres
          </span>
          <span *ngIf="formCadastro.controls.telefone.errors.maxlength" class="form-control alert-danger">
            Telefone deve ter no máximo 8 caracteres
          </span>
        </div>
      </div>
      
      <div class=" botoes row">
        <div class="col-md-12">
          <input type="submit" class="btn btn-primary pull-right" value="Salvar" />
          <div class="btn btn-primary pull-left" routerLink="/aluno">Voltar</div>
        </div>
      </div>
    </div>
  </form>
</div>