<div class="w3_navigation">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <div class="logo">
                    <h6><a class="navbar-brand">Rede Social Escolar</a></h6>
                </div>
            </div>
            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                <nav class="link-effect-5" id="link-effect-5">
                    <div class="collapse navbar-collapse">
                        <!--master-->
                        <ul [hidden]="!Master" class="nav navbar-nav">
                            <li><a class="scroll hvr-underline-from-center" routerLink="/principal" routerLinkActive="active">Principal<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/escola" routerLinkActive="active">Escola<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/professor" routerLinkActive="active">Professor<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/aluno" routerLinkActive="active">Aluno<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/responsavel" routerLinkActive="active">Responsável<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/enquete" routerLinkActive="active">Enquete<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/questionario" routerLinkActive="active">Questionário<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/login" (submit)="sair($event)">Sair<span class="sr-only">(current)</span></a></li>
                        </ul>
                        <!--escola-->
                        <ul [hidden]="!Escola" class="nav navbar-nav">
                            <li><a class="scroll hvr-underline-from-center" routerLink="/principal" routerLinkActive="active">Principal<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/professor" routerLinkActive="active">Professor<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/aluno" routerLinkActive="active">Aluno<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/responsavel" routerLinkActive="active">Responsável<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/enquete" routerLinkActive="active">Enquete<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/questionario" routerLinkActive="active">Questionário<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/login" (submit)="sair($event)">Sair<span class="sr-only">(current)</span></a></li>
                        </ul>
                        <!--professor-->
                        <ul [hidden]="!Professor" class="nav navbar-nav">
                            <li><a class="scroll hvr-underline-from-center" routerLink="/principal" routerLinkActive="active">Principal<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/aluno" routerLinkActive="active">Aluno<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/responsavel" routerLinkActive="active">Responsável<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/enquete" routerLinkActive="active">Enquete<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/questionario" routerLinkActive="active">Questionário<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/login" (submit)="sair($event)">Sair<span class="sr-only">(current)</span></a></li>
                        </ul>
                        <!--aluno-->
                        <ul [hidden]="!Aluno" class="nav navbar-nav">
                            <li><a class="scroll hvr-underline-from-center" routerLink="/principal" routerLinkActive="active">Principal<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/responsavel" routerLinkActive="active">Responsável<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/enquete" routerLinkActive="active">Enquete<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/questionario" routerLinkActive="active">Questionário<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/login" (submit)="sair($event)">Sair<span class="sr-only">(current)</span></a></li>
                        </ul>
                        <!--responsavel-->
                        <ul [hidden]="!Responsavel" class="nav navbar-nav">
                            <li><a class="scroll hvr-underline-from-center" routerLink="/enquete" routerLinkActive="active">Enquete<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/questionario" routerLinkActive="active">Questionário<span class="sr-only">(current)</span></a></li>
                            <li><a class="scroll hvr-underline-from-center" routerLink="/login" (submit)="sair($event)">Sair<span class="sr-only">(current)</span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </nav>
    </div>
</div>