<div class="header">
    <ul class="nav nav-pills">
        <li role="presentation"> <a routerLink="/escola" routerLinkActive="active">Escolas</a></li>
        <li role="presentation"> <a routerLink="/professor" routerLinkActive="active">Professores</a></li>
        <li role="presentation"> <a routerLink="/aluno" routerLinkActive="active">Alunos</a></li>
        <li role="presentation"> <a routerLink="/responsavel" routerLinkActive="active">Responsaveis</a></li>
        <li role="presentation"> <a routerLink="/disciplina" routerLinkActive="active">Disciplinas</a></li>
        <li role="presentation"> <a routerLink="/turma" routerLinkActive="active">Turmas</a></li>
        <li role="presentation"> <a routerLink="/enquete" routerLinkActive="active">Enquetes</a></li>
        <li role="presentation"> <a routerLink="/questionario" routerLinkActive="active">Questionarios</a></li>

        <li role="presentation"> <a routerLink="/empresa" routerLinkActive="active">Empresas</a></li>
        <li role="presentation" class="pull-right"> <a routerLink="/login" (submit)="sair($event)">Sair</a></li>
    </ul>
</div>