<app-header></app-header>
<div class="efeito">
  <div class="container">
    <div class="row chamadaEnquete">
      <h3>Sabe aquela dúvida?</h3>
      <h5>Pois então, podemos juntos, como comunidade participar ativamente do processo de melhoria da educação de nossa escola.</h5>
      <span>Pesquise opniões!</span>
      <div class="row">
        <a routerLink="/cadastroenquete" class="btn btnNovo">Começar uma enquete</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="enquetes col-md-12">
      <h5>Enquetes Ativas</h5>
      <div class="enquete col-md-6">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Título:</td>
              <td>Choices about your child's schooling</td>
            </tr>
            <tr>
              <td>Pergunta:</td>
              <td>How confident are you in your ability to make choices about your child's schooling?</td>
            </tr>
            <tr>
              <a routerLink="/responderenquete/0" class="btn btnNovo">Responder</a>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="resultado col-md-6">
        <app-grafico></app-grafico>
      </div>
    </div>
  </div>
</div>