<app-header> </app-header>

<div class="container tabela">
    <div class='titulo-pagina'>Questionários Cadastrados</div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a routerLink="/cadastroquestionario" class="btn btn-primary pull-right btnNovo">Novo Questionario</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row barra">
        <input #textoProcurado (keyup)="0" class="form-control" placeholder="Buscar por questionario">
    </div>

    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Questionario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of questionarios | questionarioPipe: textoProcurado.value">
                        <td>{{c.nome}}</td>
                        <td>
                            <div class="btn btnEditar btn-primary btn-xs" [routerLink]="['/respostasquestionario/', c._id]">
                                <span>Respostas</span>
                            </div>
                        </td>
                        <td>
                            <div class="btn btnEditar btn-primary btn-xs" [routerLink]="['/cadastroquestionario/', c._id]">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </div>
                        </td>
                        <td>
                            <div class="btn btnExcluir btn-danger btn-xs" (click)="remove(c)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>