<app-header> </app-header>

<div class="container">
    <div class="jumbotron" style="text-align: center">
        <h1>TCC 2</h1>
        <p>Listagem de Professores</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a routerLink="/cadastroprofessor" class="btn btn-primary pull-right">Novo Professor</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row barra">
        <input #textoProcurado (keyup)="0" class="form-control" placeholder="Buscar por professor">
    </div>
</div>
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Professor</th>
                    <th>E-mail</th>
                    <th>Senha</th>
                    <th>Formação</th>
                    <th>idade</th>
                    <th>telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of professores | professorPipe: textoProcurado.value">
                    <td>{{c.nome}}</td>
                    <td>{{c.email}}</td>
                    <td>{{c.senha}}</td>
                    <td>{{c.formacao}}</td>
                    <td>{{c.idade}}</td>
                    <td>{{c.telefone}}</td>
                    <td>
                        <div class="btn btn-primary btn-xs" [routerLink]="['/cadastroprofessor/', c._id]">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </div>
                    </td>
                    <td>
                        <div class="btn btn-danger btn-xs" (click)="remove(c)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>